<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.nocontact.fusion.mapper.FusionCollectionTaskMapper">

    <resultMap type="FusionCollectionTask" id="FusionCollectionTaskResult">
        <id     property="taskId"         column="task_id"         />
        <result property="taskName"       column="task_name"       />
        <result property="taskType"       column="task_type"       />
        <result property="taskStatus"     column="task_status"     />
        <result property="targetLevel"    column="target_level"    />
        <result property="indicatorId"    column="indicator_id"    />
        <result property="indicatorName"  column="indicator_name"  />
        <result property="dataTargets"    column="data_targets"    />
        <result property="sourceType"     column="source_type"     />
        <result property="fillCycle"      column="fill_cycle"      />
        <result property="scheduleMode"   column="schedule_mode"   />
        <result property="cronExpression" column="cron_expression" />
        <result property="auditEnabled"   column="audit_enabled"   />
        <result property="ownerName"      column="owner_name"      />
        <result property="dataCount"      column="data_count"      />
        <result property="lastRunTime"    column="last_run_time"   />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
    </resultMap>

    <sql id="selectTaskVo">
        select t.task_id, t.task_name, t.task_type, t.task_status, t.target_level,
               t.indicator_id, coalesce(i.indicator_name, t.indicator_name) as indicator_name,
               t.data_targets, t.source_type, t.fill_cycle, t.schedule_mode, t.cron_expression,
               t.audit_enabled, t.owner_name, t.data_count, t.last_run_time,
               t.create_by, t.create_time, t.update_by, t.update_time, t.remark
        from nc_fusion_collection_task t
        left join nc_fusion_indicator i on i.indicator_id = t.indicator_id
    </sql>

    <select id="selectTaskList" parameterType="FusionCollectionTask" resultMap="FusionCollectionTaskResult">
        <include refid="selectTaskVo"/>
        <where>
            t.del_flag = '0'
            <if test="taskName != null and taskName != ''">
                AND t.task_name like '%' || #{taskName} || '%'
            </if>
            <if test="taskType != null and taskType != ''">
                AND t.task_type = #{taskType}
            </if>
            <if test="taskStatus != null and taskStatus != ''">
                AND t.task_status = #{taskStatus}
            </if>
            <if test="sourceType != null and sourceType != ''">
                AND t.source_type = #{sourceType}
            </if>
            <if test="indicatorName != null and indicatorName != ''">
                AND coalesce(i.indicator_name, t.indicator_name) like '%' || #{indicatorName} || '%'
            </if>
        </where>
        order by t.create_time desc, t.task_id desc
    </select>

    <select id="selectTaskById" parameterType="Long" resultMap="FusionCollectionTaskResult">
        <include refid="selectTaskVo"/>
        where t.task_id = #{taskId} and t.del_flag = '0'
    </select>

    <insert id="insertTask" parameterType="FusionCollectionTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into nc_fusion_collection_task
        (task_name, task_type, task_status, target_level, indicator_id, indicator_name,
         data_targets, source_type, fill_cycle, schedule_mode, cron_expression, audit_enabled,
         owner_name, data_count, last_run_time, create_by, create_time, remark)
        values
        (#{taskName}, #{taskType}, #{taskStatus}, #{targetLevel}, #{indicatorId}, #{indicatorName},
         #{dataTargets}, #{sourceType}, #{fillCycle}, #{scheduleMode}, #{cronExpression}, #{auditEnabled},
         #{ownerName}, #{dataCount}, #{lastRunTime}, #{createBy}, #{createTime}, #{remark})
    </insert>

    <update id="updateTask" parameterType="FusionCollectionTask">
        update nc_fusion_collection_task
        <set>
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="taskType != null">task_type = #{taskType},</if>
            <if test="taskStatus != null">task_status = #{taskStatus},</if>
            <if test="targetLevel != null">target_level = #{targetLevel},</if>
            <if test="indicatorId != null">indicator_id = #{indicatorId},</if>
            <if test="indicatorName != null">indicator_name = #{indicatorName},</if>
            <if test="dataTargets != null">data_targets = #{dataTargets},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="fillCycle != null">fill_cycle = #{fillCycle},</if>
            <if test="scheduleMode != null">schedule_mode = #{scheduleMode},</if>
            <if test="cronExpression != null">cron_expression = #{cronExpression},</if>
            <if test="auditEnabled != null">audit_enabled = #{auditEnabled},</if>
            <if test="ownerName != null">owner_name = #{ownerName},</if>
            <if test="dataCount != null">data_count = #{dataCount},</if>
            <if test="lastRunTime != null">last_run_time = #{lastRunTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where task_id = #{taskId}
    </update>

    <update id="updateTaskStatus" parameterType="FusionCollectionTask">
        update nc_fusion_collection_task
        <set>
            task_status = #{taskStatus},
            <if test="lastRunTime != null">last_run_time = #{lastRunTime},</if>
            update_by = #{updateBy},
            update_time = #{updateTime}
        </set>
        where task_id = #{taskId}
    </update>

    <update id="deleteTaskByIds" parameterType="Long">
        update nc_fusion_collection_task set del_flag = '2'
        where task_id in
        <foreach collection="array" item="taskId" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </update>

    <select id="selectTaskStatusStats" resultType="map">
        select task_status as stat_name, count(1) as count_value
        from nc_fusion_collection_task
        where del_flag = '0'
        group by task_status
        order by task_status
    </select>

    <select id="selectTaskTypeStats" resultType="map">
        select task_type as stat_name, count(1) as count_value
        from nc_fusion_collection_task
        where del_flag = '0'
        group by task_type
        order by task_type
    </select>
</mapper>
